@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Dancing+Script&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Caveat:wght@700&family=Dancing+Script&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Caveat:wght@700&family=Comfortaa:wght@300&family=Dancing+Script&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:ital,wght@0,400;1,100&display=swap');
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    
}
body{
    background-color: #E9D1A3;
    font-family: Dancing Script ;
}
.logoImg{
  width: 12vw;
  height: 5.5vw;
  padding: 0px;
}
.profile{
   width: 3vw;
   height: 3vw;
   border: 1px solid rgb(202, 54, 54);
   border-radius: 5px;
   padding: 0px;
   align-items: flex-end;
}
.logo{
    display: flex;
    justify-content: center;
}

.navig{
    height: 100px;
    background-color: rgb(187, 53, 53);
    display: flex;
    color: whitesmoke;
    font-size: large;
    justify-content: space-between;
    /* margin-top: 3vw; */
    font-family: Caveat;
}


.random{
    display: flex;
    height: 30vw;
    width: 25vw;
    border: 0px solid  rgb(187, 53, 53);
    background-color: rgb(187, 53, 53);
    border-radius: 30px 0px 30px 0px;
    justify-content: space-evenly;
    align-items: center;
    color: aliceblue;
    font-size: x-large;
    flex-direction: column;
    font-family: Caveat;
}
.chef{
    display: flex;
    border-bottom: 1px solid rgb(187, 53, 53);
    margin: 2vw;
}
.chefimg{
    height: 3vw;
    width: 3vw;
}


#dish{
    border: 2px solid rgb(187, 53, 53);
    color: rgb(187, 53, 53);
    width: 20vw;
    height: 3vw;
    font-size: 2.2vw;
    text-align: center;
    font-weight: 800;
    font-family: Dancing Script ;
    /* background-image: url(./assets/food.jpg); */

}
.search{
    /* margin: 3vw; */
    /* width: 60vw; */
     background-color: rgb(241, 182, 53);
     text-align: center;
     font-family: Dancing Script ;
     display: flex;
     justify-content: center;
     /* border-radius: 6vw; */
     align-items: center;
}
input::placeholder {
    color: #441c01; 
    font-weight: 700;
    font-size: 1.7vw;
}
#recomendedQuotes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#quotes{
    /* width: 15vw;
    height: 3vw; */
    font-weight: 600;
    font-size: 2vw;
    /* background-image: url("./assets/quoteback.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10vw; */
    border-radius: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(143, 68, 25);
    text-align: center;
    /* box-shadow: 5px 5px 5px 5px rgba(122, 58, 16, 0.774); */
    margin-top: 3vw;
    display: inherit;
}

#finddish{
    width: 4vw;
    height: 4vw;
    background-color: rgb(241, 182, 53);
    margin: 1vw;
    border: 2px solid rgb(241, 182, 53);
    /* background-image: url("./assets/CHEF.png"); */
}

#random-img{
    height: 23vw;
    width: 23vw;
    border-radius: 10px;
}
.desired-img{
   width: 20vw;
   height: 20vw;

}
.desired-name{
    font-size: 1em;

}
#recipeContainer{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.desireMeals{
    font-family: Caveat;
    background-color: rgb(187, 53, 53);
    display: flex;
    flex-direction: column;
    color: #441c01;
    margin: 2vw;
    width: min-content;
    border-radius: 2vw;
    box-shadow: 5px 5px 5px 5px rgb(185, 114, 47);
    transition: transform 0.3s;
    align-items: center;
    flex-wrap: wrap;
    min-width: 201px;
}
.desired-img{
    border: 1px solid rgb(97, 31, 0);
    border-radius: 2vw;
    
}
.desired-name{
    font-family: Caveat;
    text-align: center;
    /* width: min-content; */
    border-radius: 6vw;
    width: 10vw;
    background-color: rgb(255, 225, 161);
    font-size: 1.5vw;
    backdrop-filter: blur(100px);
}
.desireMeals:hover{
    transform: rotate(5deg) scale(1.01);
}
#btn-search{
    width: 4vw;
    height: 4vw;
}
#container{
    position: sticky;
    top: 0;
    background-color: #E9D1A3;
    z-index: 1;
}
.IngredientsRecipe{
    font-family: Caveat;
    background-color: rgb(184, 132, 21);
    border-radius: 6vw;
   color: #441c01;
   font-size: small;
   align-items: center;
   margin: 1.4vw;
   color: black;
   text-decoration: none;
}
.para{
    font-size: 1.8vw;
    color: #441c01;
    font-weight: 800;
}
#chefman{
    width: 33vw;
    height: 33vw;
    margin-top: 7vw;
      animation: floating2 2s ease-in-out infinite;
}

@keyframes floating2{
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
  }
#imgname{
    /* width: max-content;
    height: max-content; */
    font-size: 1.6vw;
    border-radius: 6vw;
    background-color: rgb(241, 182, 53);
    align-items: center;
    width: 18vw;
    height: 2vw;
    text-align: center;
    color: #441c01;
    font-weight: 700;
    
}
.IngredientsRecipe{
    text-decoration: none;
    color: black;
}
.ingredients{
    font-size: medium;
}
.recipe{
    background-color: black;
}
#recipe-details{
    font-family: Caveat;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    height: 90%;
    width: 90%;
    transform: translate(-50%,-50%);
    z-index: 2;
    overflow: scroll;
}
.myrecipebtn{
    font-family: Caveat;
    background-color: rgb(250, 147, 63);
    color: rgb(0, 0, 0);
    width: 15vw;
    height: 4vw;
    font-size: 1.3vw;
    border: 2px solid rgb(250, 147, 63);
    border-radius: 1vw 1vw;
    margin-top: 2vw;
    padding: 0vw;
    text-align: center;
    font-weight: 700;
    font-size: 1.6vw;
}
.close-recipe{
    width: 2vw;
    height: 2vw;
}
.four{
    font-weight: 600;
    font-size: larger;
    text-align: center;
}
li{
    list-style: none;
}
#ingredients{
    font-family: Caveat;
    background-color: rgb(250, 147, 63);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(250, 147, 63);
    border-radius: 1vw 1vw;
    width: 18vw;
    height: 2vw;
    font-size: 1.6vw;
}
.three li{
    background-color: rgba(204, 58, 58, 0.63);
    padding: 10px;
    margin: 10px;
    width: 15vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    
}
.three{
    display: flex;
    flex-wrap: wrap;
}
.one{
    text-align: center;
}
.yes{
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    border-radius: 2vw;
}
.no{
    display: flex;
    justify-content: center;
}
.two{
    padding: 2vw;
    font-size: 1.8vw;
    font-weight: 700;
    text-align: center;
}
.lol{
    padding: 2vw;
    font-size: 1.8vw;
    font-weight: 700;
    text-align: center;
}
.heading{
    text-align: center;
}
.navitems{
    width: 29vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.7vw;
}
.navlogo{
    background-color: aliceblue;
}
.four{
    padding: 3vw;
}
footer{
    height: 8vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    border-radius: 4vw;
}
.footone{
    display: flex;
    align-items: center;
    width: 5vw;
    height: 5vw;
   
}
.foottwo{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: x-large;
}
.footone img{
    width: 12vw;
    height: 5.5vw;
    margin-top: 2vw;
}

#popup-aboutus{
    font-family: 'Dancing Script', cursive;
    background-color:#E9D1A3;
    text-align: center;
    display: flex;
    /* position: fixed; */
    /* top: 40%;
    left: 50%;
    height: 90vw;
    width: 90vw;
    transform: translate(-50%,-50%);
    z-index: 5; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
   color: #441c01;
    margin-top: 6vw;
}
.discription{
    font-size: 2vw;
}
.high{
    font-size: 2vw;
}
.Welcome{
    width: 45vw;
    height: 4vw;
    font-size: 4vw;
    font-weight: 900;
    padding: 1vw;
    
}
.aboutgif{
    width: 25vw;
    height: 25vw;
    border-radius: 3vw;
}

@media only screen and (max-width: 600px) {
    #recomendedQuotes {
        flex-direction: column;
    }
    .search{
        height: 2vh;
    }
    .navig{
        height: 2vh;
    }
    h2{
        font-size: 1.8vw;
    }
    #recomendedQuotes{
      align-items: center;
    }
    .desired-img{
        width: 35vw;
        height: 30vw;
     
     }
     .desired-name{
         font-size: larger;
        width: 40vw !important;
     }
     .myrecipebtn{
        font-size: 4vw;
        width: 40vw !important;
     }
}